div.tweetEngagementSummaryView {
	font-size: 12px;
}

div.tweetEngagementSummaryView p {
	line-height: 1.1em;
	margin: 0px;
}

div.tweetEngagementProfilePicture img {
	display: block;
	float: right;
}

div.tweetEngagementProfilePicture,
div.tweetEngagementRetweetIcon {
	width: 80px;
	padding-left: 5px;
	text-align: right;
}

div.tweetEngagementContent {
	padding: 0px;
	margin: 0px;
	background-color: yellow;
	/*position: relative;*/
}

div.tweetEngagementContent div {
	/*position: absolute;*/
	top: 0;
	right: 0;
	width: 100%; 
}

div.tweetEngagementContent div {
	clear: none;
}

div.renderTweet div.tweetEngagementSummaryView div.tweetEngagementRetweetInfo,
div.renderTweet div.tweetEngagementSummaryView div.tweetEngagementContent {
	padding-left: 10px;
}

div.tweetEngagementRetweetInfo {
	text-align: left;
	font-size: 0.9em;
}

/*
div.tweetEngagementContent {
	background-color: yellow;
}

div.tweetEngagementRetweetInfo {
	background-color: pink;
}

div.tweetEngagementRetweetInfo {
	background-color: grey;
}

div.tweetEngagementRetweetIcon {
	background-color: green;
}
*/