.table > .table-row {
	clear: both;
	margin: 0px;
}

.table > .table-row > .table-cell {
	clear: none;
	float: left;
	margin: 0;
}

div.tweetEngagementSummaryView {
	font-size: 15px;
}

div.tweetEngagementSummaryView p {
	line-height: 1.1em;
	margin: 0px;
}

div.tweetEngagementProfilePicture {
	float: left;
	text-align: right;
}

div.tweetEngagementProfilePicture,
div.tweetEngagementRetweetIcon,
div.tweetEngagementBelowProfilePicture {
	width: 80px;
	padding-left: 5px;
	text-align: right;
}

div.tweetEngagementBelowProfilePicture {
	text-align: center;
}

div.tweetEngagementBelowProfilePicture a {
	color: black;
}


div.tweetEngagementContent,
div.tweetEngagementRetweetInfo,
div.tweetEngagementRetweetActionsCell {
	width: 280px;
}

div.tweetEngagementContent {
	padding: 0px;
	margin: 0px;
}

div.tweetEngagementContent div {
	clear: none;
}

div.renderTweet div.tweetEngagementSummaryView div.tweetEngagementRetweetInfo,
div.renderTweet div.tweetEngagementSummaryView div.tweetEngagementContent,
div.renderTweet div.tweetEngagementSummaryView div.tweetEngagementActionsCell {
	padding-left: 10px;
}

div.tweetEngagementRetweet {
	font-size: 0.75em;
	height: 1em;
}

ul.tweetEngagementActions {
	padding-left: 0px;
	display: inline;
}

ul.tweetEngagementActions li {
	display: block;
	float: left;
	width: 1.5em;
}

a.black, a.green, a.orange, a.gray {
	color: lightgray;
}

div.tweetEngagement:hover a.black {
	color: black;
}

div.tweetEngagement:hover a.green {
	color: green;
}

div.tweetEngagement:hover a.gray {
	color: gray;
}

div.tweetEngagement:hover a.orange {
	color: orange;
}

div.tweetEngagement:hover div.tweetClearLink {
	display: block;
}

div.tweetEngagement div.tweetClearLink {
	display: none;
	position: absolute;
	right: 0px;
	top: -2px;
	margin: 0px;
	margin: 0px;
}

div.tweetEngagement div.tweetClearLink a {
	font-size: 25px;
	line-height: 25px;
	color: black;
}