div.tweetEngagementSummaryView {
	font-size: 12px;
}

div.tweetEngagementSummaryView p {
	line-height: 1.1em;
	margin: 0px;
}

div.tweetEngagementProfilePicture,
div.tweetEngagementRetweetIcon {
	width: 80px;
	padding-left: 5px;
	text-align: right;
}

div.renderTweet div.tweetEngagementSummaryView div.tweetEngagementRetweetInfo,
div.renderTweet div.tweetEngagementSummaryView div.tweetEngagementContent {
	padding-left: 10px;
}

div.tweetEngagementRetweetInfo {
	text-align: left;
	font-size: 0.9em;
}

/*
div.tweetEngagementContent {
	background-color: yellow;
}

div.tweetEngagementRetweetInfo {
	background-color: pink;
}

div.tweetEngagementRetweetInfo {
	background-color: grey;
}

div.tweetEngagementRetweetIcon {
	background-color: green;
}
*/